#profile-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px 10%;
}

#profile-block {
    /* display: flex;
    justify-content: center; */
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

#profile-info-block,
#profile-posts-block,
#profile-subscribers-block {
    background: #ffffff;
    border-radius: 10px;
    padding: 20px 30px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* #profile-posts-block {
    max-width: 50%;
} */

#profile-title,
#profile-posts-title {
    margin-bottom: 20px;
}

.card-likes-subblock {
    display: flex;
    align-items: center;
    gap: 5px;
}

.card-author {
    font-size: 14px;
}

.card-title {
    font-size: 22px;
}

.card-body {
    margin-top: 5px;
}

.card-description {
    font-size: 18px;
}

.card-likes-subblock {
    margin: 7px 0px;
}

.card-likes-num {
    font-weight: 500;
}

textarea {
    width: 100%;
    resize: none;
    border: 0px;
}
